<h1>Update Divisions</h1>

<form action="/divisions/<%= @division.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Enter the New Division Name Here:</label>
  <input type="text" name="name">

  <button type="submit">Update Division</button>
</form>

<form action="/divisions/<%= @division.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Remove Division</button>
</form>
