<h1>Projects</h1>
<ul>
  <%@projects.each do |project|%>
  <li><a href="/projects/<%= project.id %>"><%= project.name %></a> <a href="/projects/<%= project.id %>/edit">Update Project</a></li>
  <% end %>
</ul>

<h1>Create Project</h1>

<form action="/projects" method="post">
  <label for="name">Enter the Project Name Here:</label>
  <input type="text" name="name">

  <button type="submit">Add Project</button>

</form>
