<h1>Update Project</h1>

<form action="/projects/<%= @project.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Enter the New Project Name Here:</label>
  <input type="text" name="name">

  <button type="submit">Update Project</button>
</form>

<form action="/projects/<%= @project.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Remove Project</button>
</form>
